{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-floating-promises": "off",
    "no-nested-ternary": "off",
    "avoid-implicit-dependencies": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "function-declaration"
      }
    ],
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-cycle": "off",
    "prettier/prettier": [
      "error",
      {},
      {
        "usePrettierrc": true,
        "fileInfoOptions": {
          "withNodeModules": true
        }
      }
    ]
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript/base",
    "airbnb-typescript",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "settings": {},
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  }
}